{
  "extends": "stylelint-config-standard",
  "formatter": "stylelint-checkstyle-formatter",
  "plugins": [
		"stylelint-order"
	],
	"rules": {
		"order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-order": [
			"width",
			"height"
		],
		"order/properties-alphabetical-order": true
	}
}