.listInner {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100%;
  position: relative;
}
.listHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.addCardWrapp {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.addCardWrapp:hover {
  cursor: pointer;
}
.hidden {
  display: none;
}
.cardNumber{
  position: relative;
}
.cardNumber::before{
  content: 'Number of cards';
  position: absolute;
  top: 2px;
  left: 30px;
  font-weight: normal;
  z-index: 2;
  padding: 2px 4px;
  opacity: 0;
  transition: opacity 0.25s ease-in;
  line-height: 1;
}
.cardNumber:hover {
  font-weight: bold; 
  cursor: pointer;  
}
.cardNumber:hover::before {
  opacity: 1;
}
