.listInner{
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100%;
  position: relative;
}
.listHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.iconWrap{
  cursor: pointer;
}

.addCardWrapp {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.addCardWrapp:hover {
  cursor: pointer;
}
.hidden {
  display: none;
}
