.cardWrapp {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  gap: 20px;
  justify-content: center;
}
.label {
  font-size: 20px;
}
.inputWrapp {
  width: 100%;
  margin-bottom: 20px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  max-width: 100%;
}
.cardTitleWrap{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--box-shadow);
  margin-top: 20px;
  width: 100%;
  border-radius: 6px 0 0 0;
}

