.wrap{
  min-height: 100px;
}
.cardWrap {
  display: grid;
  gap: 10px;
  grid-auto-flow: row;
  margin-bottom: 10px;
}

.cardItem {
  display: grid;
  grid-auto-flow: row;
  gap: 10px
 
}
.cardItem:hover{
  cursor: pointer;
}
.move{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}
.move:before{
  /* margin-top: 60px; */
  content: "";
  background: gray;
  width: 100%;
  height: 40px;
  order: 1;
}
