.wrap{
  min-height: 100px;
}
.cardWrap {
  display: grid;
  gap: 10px;
  grid-auto-flow: row;
  margin-bottom: 10px;
}

.cardItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 4px 0;
  border: 1px solid var(--link-color);
}
.cardItem:hover{
  cursor: pointer;
}
.move{
  margin-top: 60px;
  background: gray;
  /* // transform: translateX(180px) rotate(45deg); */
}
