@import '../../index.css';
.deleteIcon {
  fill: var(--link-color);
  color: var(--link-color);
}
.icon:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.iconPencil:hover {
  color: var(--accent-color); 
}
.icon.active {
  color: var(--contrast-color);
  fill: var(--contrast-color);
}
