@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');
:root {
  --font-family: 'Noto Sans', sans-serif;
  --fontcolor: #022340;
  --active-color: #274f73;
  --link-color: #496d91;
  --contrast-color: #73274f;
  --accent-color: #02403e;
  --box-shadow: rgba(34, 60, 80, 0.2);
}
body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--fontcolor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
a {
  text-decoration: none;
}
section {
  margin: 40px 0;
}
p {
  margin: 0;
}
.hidden {
  display: none;
}
